*.DS_Store
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.BACKLOG
*.dSYM
SnowCloud.sublime-workspace
Resources
/MySQL_DBReader/dbReader
/MySQL_DBWriter/dbWriter