*.DS_Store
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.BACKLOG
*.dSYM
*.sublime-workspace
Resources
/MySQL_DBReader/dbReader
/MySQL_DBWriter/dbWriter
workspace
*/workspace

*.py[cod]
 
# C extensions
*.so
 
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
*.pyc

# Ignore all the virtualenv stuff 
*/PythonVEnv

#/bin
#/include
#/lib/python*/*
#!/lib/python*/site-packages

# Ignore easyinstall and setuptools
#/lib/python*/site-packages/easy-install.pth
#/lib/python*/site-packages/setuptools.pth
#/lib/python*/site-packages/setuptools-*
#/lib/python*/site-packages/pip-*
 
# Installer logs
#pip-log.txt
 
# Unit test / coverage reports
.coverage
.tox
nosetests.xml
 
# Translations
*.mo
 
# Mr Developer
.mr.developer.cfg
.project
.pydevproject
workspace.xml
/CellWriter/src/sftp-config.json
/MySQL_DBReader/sftp-config.json

/svn
/CellWriter/src/log/
/CellWriter/src/TESTDATA.txt
/CellWriter/src/SentData/
/HBE_GPRX_Waypoints/